{% extends "base.html" %}
{% block content %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Information</title>
    <script>
        $(document).ready(function () {
            $('#body_color tr:even').css('background-color', '#dddddd');
            $("#download-button").on("click", function () {
                window.open('down');
            });
        });

    </script>
</head>
<body>
<div class="ui twenty wide column">
    <div class="ui segment">
        <table class="ui black celled table">
            <thead>
            <tr>
                <th>URL</th>
                <th>HOST</th>
                <th>TYPE</th>
                <th>METHOD</th>
                <th>NAME</th>
            </tr>
            </thead>
            <tbody id="body_color">
            {% for data in DataList %}
            <tr>
                <td height="50px">{{data['URL']}}</td>
                <td>{{data['HOST']}}</td>
                <td>{{data['TYPE']}}</td>
                <td>{{data['METHOD']}}</td>
                <td>{{data['NAME']}}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
        <div class="ui red small right floated button" id="download-button">
            <i class="download icon"></i>Download
        </div>
    </div>
</div>
<br>
</body>

</html>
{% endblock %}